*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

.main-nav .logo{
    width: 110px;
}

a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;    
}


/* Nav */
.main-nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 20px 0;
    
}

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul.main-menu li a:hover{
    border-bottom: 2px solid #262626;
    padding-bottom: 2px;
}

.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}

/* Showcase */
.showcase {
    width: 100%;
    height: 600px;
    background: url("https://i.ibb.co/zGSDGCL/slide1.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
}

.showcase p{
    margin: 15px 0;
}

.showcase a{
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background: #000;
    
}

.showcase a:hover{
    opacity: 0.9;
    text-decoration: underline;
}

.showcase a:hover i{
    padding-left: 5px;
}


/* Home Cards */
.home-cards {
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    
}

.home-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.home-cards .card img{
    padding-bottom: 30px;
}

.home-cards .card p{
    padding: 10px 0;
}

.home-cards .card a{
    color: rgb(3, 52, 151);
    font-weight: bold;
    font-variant-caps: petite-caps;
}